<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>你好,<font color="red"></font>:</h2>
<h3>&nbsp;&nbsp;链接有效期为3分钟! <a href='http://127.0.0.1:5000/token'>点我激活并登录</a></h3>
<h4>&nbsp;&nbsp;请在{t[0]}年{t[1]}月{t[2]}日{t[3]}时{t[4]}分{t[5]}秒前激活</h4>
<h6>&nbsp;&nbsp;<font color="#8a2be2">如链接过期，请重新注册，返回 <a href=""><font color="red">主页</font></a> | <a href=""><font color="red">注册页面</font></a> </font></h6>
</body>
</html>