<!DOCTYPE html>
<html lang="zh">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="{% static 'Table/js/jquery.min.js' %}"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'register/css/register.css' %}">
    <link rel="stylesheet" href="{% static 'public/sweetalert/sweetalert.css' %}">
    <script src="{% static 'public/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'register/js/register.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="demo form-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form class="form-horizontal">
                        <span class="heading">用户注册</span>
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" id="inpuUsername" placeholder="用户名">
                            <i class="fa fa-user"></i>
                            <span style="color: rgba(255,53,49,0.8); font-family: cursive; font-size: medium" id="username_span"></span>
                        </div>


{#                        <div class="input-group form-group">#}
{#                            <input type="text" class="form-control" name="email" placeholder="邮箱号码" id="inputemail4">#}
{#                            <i class="fa fa-user"></i>#}
{#                            <span class="input-group-btn">#}
{#                                <button class="btn btn-default" id="send-capcha">发送验证码</button>#}
{#                                </span>#}
{#                        </div>#}

                        <div class="form-group">
                            <input type="text" class="form-control" name="email" id="inputEmail3" placeholder="电子邮件">
                            <i class="fa fa-user"></i>
                            <span style="color: rgba(255,53,49,0.8); font-family: cursive; font-size: medium" id="email_span"></span>
                        </div>

                        <div class="form-group help">
                            <input type="password" class="form-control" name="password" id="inputPassword3"
                                   placeholder="密码" >
                            <i class="fa fa-lock"></i>
                            <span style="color: rgba(255,53,49,0.8); font-family: cursive; font-size: medium" id="password1_span"></span>
                            {#	                            <a href="" class="fa fa-question-circle"></a>#}
                        </div>
                        <div class="form-group help">
                            <input type="password" class="form-control" name="password_2" id="inputPassword4"
                                   placeholder="确认密码">
                            <i class="fa fa-lock"></i>
                            <span style="color: rgba(255,53,49,0.8); font-family: cursive; font-size: medium" id="password2_span"></span>
                            {#	                            <a href="" class="fa fa-question-circle"></a>#}
                        </div>


                        <div class="form-group">
                            {#	                            <div class="main-checkbox">#}
                            {#	                                <input type="checkbox" id="<c></c>heckbox1" name="check" {{ check_value }}/>#}
                            {#	                                <label for="checkbox1"></label>#}
                            {#	                            </div>#}
                            {#	                            <span class="text">记住我</span>#}
                            <span class="text"><a href="{% url "login" %}">已有账号？去登录</a></span>
                            <span class="text">|</span>
                            <span class="text"> <a href="" onclick="alert('你有账号吗？就找回！')">忘记密码？</a></span>
                            <button type="button" class="btn btn-default" id="but">立刻注册</button>
                        </div>

                        {% if error_msg %}
                            <div id="error-msg">
                                <span style="color: rgba(255,53,49,0.8); font-family: cursive;">{{ error_msg }}</span>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>